@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "网点分布";
    Layout = "~/Views/Shared/_LayoutWeuiPlus.cshtml";
}
@section css
{
    <style type="text/css">
        .weui-cell__ft > a 
        {
            padding-right: 1em;
        }
    </style>
}
<div class="page-bd">
    <div class="weui-cells__title">网点分布列表</div>
    <ul class="collapse">
        <li class="">
            <div class="weui-flex js-category">
                <div class="weui-flex__item">天津</div>
                <i class="icon icon-74"></i>
            </div>
            <div class="page-category js-categoryInner">
                <div class="weui-cells page-category-content">
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>天津宝坻</p>
                            <p>火车站路农机公司西行300米路北快递大院内</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18002158636">18002158636</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>天津蓟县</p>
                            <p>家乐超市南1000米路西</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://13652012068">13652012068</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>滨海新区汉沽站</p>
                            <p>汉沽大田路口南200米</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18526801687">18526801687</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>天津市东丽区东环鑫泰</p>
                            <p></p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://022-86269113">022-86269113</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>静海</p>
                            <p>静海县城老104国道，胜京物流（家世界后身)</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18920522752">18920522752</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>天津塘沽</p>
                            <p>实达汽配城物流区3号4号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://022-25641552">022-25641552</a>
                            <a href="tel://15564698866">15564698866</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>宁河经济开发区站</p>
                            <p>经济开发区4纬路11号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://022-69190717">022-69190717</a>
                            <a href="tel://022-69363777">022-69363777</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>宁河桥北站</p>
                            <p>贸易开发区党庄路口东150米</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://022-69363567">022-69363567</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>天津环渤海汽配城</p>
                            <p>老汽配城【河西站】</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18526799637">18526799637</a>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="">
            <div class="weui-flex js-category">
                <div class="weui-flex__item">唐山地区</div>
                <i class="icon icon-74"></i>
            </div>
            <div class="page-category js-categoryInner">
                <div class="weui-cells page-category-content">
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>唐山地址</p>
                            <p>胜利路2号(唐齿汽配城百吉兴驾校对面）</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://19931468613">19931468613</a>
                            <a href="tel://15533579241">15533579241</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>古冶专线</p>
                            <p>送货车</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://13931611419">13931611419</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>迁西</p>
                            <p>西环路中段</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://17622715739">17622715739</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>丰润</p>
                            <p>天明物流南库房D栋8-9-10</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://17736578788">17736578788</a>
                            <a href="tel://15127586789">15127586789</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>遵化</p>
                            <p>金卓红绿灯西行300米路南</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://0315-6120315">0315-6120315</a>
                            <a href="tel://18833339303">18833339303</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>玉田</p>
                            <p>老电力局东行200米</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://19912388690">19912388690</a>
                            <a href="tel://19931458690">19931458690</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>迁安</p>
                            <p>汽车站北行1000米路东</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18132541111">18132541111</a>
                            <a href="tel://0315-5677567">0315-5677567</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>滦县</p>
                            <p>滦县新城立交桥北150米路西</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://13363250519">13363250519</a>
                            <a href="tel://15097542223">15097542223</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>鸦鸿桥</p>
                            <p>上门送货</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://15511546950">15511546950</a>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="">
            <div class="weui-flex js-category">
                <div class="weui-flex__item">山东</div>
                <i class="icon icon-74"></i>
            </div>
            <div class="page-category js-categoryInner">
                <div class="weui-cells page-category-content">
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>济南</p>
                            <p>山东汽配成(居然之家)东排物流区J-73号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://15226663111">15226663111</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>济南</p>
                            <p>济南泉立汽配城东区</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://13361096139">13361096139</a>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="">
            <div class="weui-flex js-category">
                <div class="weui-flex__item">北京</div>
                <i class="icon icon-74"></i>
            </div>
            <div class="page-category js-categoryInner">
                <div class="weui-cells page-category-content">
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>总部</p>
                            <p>大兴区三台山路雷霆不锈钢城</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18701503305">18701503305</a>    
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>一部</p>
                            <p>北京五方天雅汽车产品市场物流区西3-02号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18519655801">18519655801</a>    
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>二部</p>
                            <p>西国贸汽服基地物流区16号(丰益桥)</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18519655802">18519655802</a>    
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>三部</p>
                            <p>城外城国际汽配城32号楼东侧</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://010-52474690">010-52474690</a>
                            <a href="tel://15652065777">15652065777</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>四部</p>
                            <p>黄厂路(祥龙物流园内）</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://010-53670864">010-53670864</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>五部</p>
                            <p>香河汽配城物流园</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://15010181658">15010181658</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>六部</p>
                            <p>百荣</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://15910600071">15910600071</a>
                            <a href="tel://13161857957">13161857957</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>八部</p>
                            <p>永清云裳小镇</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://13476321728">13476321728</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>九部</p>
                            <p>永清鑫海鞋城</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://16600241915">16600241915</a>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="">
            <div class="weui-flex js-category">
                <div class="weui-flex__item">石家庄</div>
                <i class="icon icon-74"></i>
            </div>
            <div class="page-category js-categoryInner">
                <div class="weui-cells page-category-content">
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>石家庄一部</p>
                            <p>北二环（东联汽配城）</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18031443992">18031443992</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>石家庄二部</p>
                            <p>聚合港物流园二路27号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18032694813">18032694813</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>石家庄三部</p>
                            <p>石铜路恒信汽配城</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://15833316626">15833316626</a>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="">
            <div class="weui-flex js-category">
                <div class="weui-flex__item">京津冀</div>
                <i class="icon icon-74"></i>
            </div>
            <div class="page-category js-categoryInner">
                <div class="weui-cells page-category-content">
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>廊坊站</p>
                            <p>廊南汽配城西区19号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://0316-6569900">0316-6569900</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>廊东站</p>
                            <p>白户达汽配城往东1公里路北</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://0316-2222711">0316-2222711</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>廊北站</p>
                            <p>北凤道汽配城B区39号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://0316-2222719">0316-2222719</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>胜芳</p>
                            <p>廊大路同辉宾馆院内</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://0316-7770111">0316-7770111</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>霸州</p>
                            <p>长途汽车站往东50米路南</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://0316-7030246">0316-7030246</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>永清县</p>
                            <p>城关派出所对面</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://15832619030">15832619030</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>固安县</p>
                            <p>盛兴通汽配城</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://13603361938">13603361938</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>文安县</p>
                            <p>汽车站东200米路南</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://15831678784">15831678784</a>
                            <a href="tel://18631633955">18631633955</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>任丘</p>
                            <p>北环西路63号</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://0317-2389063">0317-2389063</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>雄县、容城、白沟</p>
                            <p></p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://17701158766">17701158766</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>大城</p>
                            <p>大城新汽车站东500米路北（二姑院东200米）</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://17701158766">15030460082</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>保定一部</p>
                            <p>莲池南大街2223号，元宝超市东行400米保成通福物流园</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18632290035">18632290035</a>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="JavaScript:;">
                        <div class="weui-cell__bd">
                            <p>保定二部</p>
                            <p>裕丰汽配城</p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="tel://18632290035">18632290035</a>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

@section script
{
    <script type="text/javascript">

        $(function () {
            $('.collapse .js-category').click(function () {
                $parent = $(this).parent('li');
                if ($parent.hasClass('js-show')) {
                    $parent.removeClass('js-show');
                    $(this).children('i').removeClass('icon-35').addClass('icon-74');
                } else {
                    $parent.siblings().removeClass('js-show');
                    $parent.addClass('js-show');
                    $(this).children('i').removeClass('icon-74').addClass('icon-35');
                    $parent.siblings().find('i').removeClass('icon-35').addClass('icon-74');
                }
            });

        });


    </script>
}