@{
    ViewData["Title"] = "发货";
    Layout = "~/Views/Shared/_LayoutWeuiPlus.cshtml";
}
<form id="Yd-form" method="post" asp-area="Client" asp-controller="Yd" asp-action="Create">
    <div class="weui-cells__title">发货运单</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">收货人电话</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input req" pattern="[0-9]*" placeholder="收货人电话，最好是手机" type="tel" id="rectel" name="rectel">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">收货人</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="收货人姓名" type="text" id="recer" name="recer">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">货物名称</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="货物名称" type="text" id="varo" name="varo" readonly value="">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">件数</label>
            </div>
            <div class="weui-cell__ft">
                <div class="weui-count">
                    <a class="weui-count__btn weui-count__decrease"></a>
                    <input class="weui-count__number" type="number" value="1" id="num" name="num">
                    <a class="weui-count__btn weui-count__increase"></a>
                </div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">代收金额</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="" placeholder="500.00" type="number" id="ds" name="ds">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">保价金额</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="" placeholder="5000.00" type="number" id="baojia" name="baojia">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">目的地</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="" placeholder="本物流直达城市名称" type="text" id="city" name="city">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">发货人</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="" placeholder="发货人姓名" type="text" id="sender" name="sender">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">发货人电话</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="" placeholder="发货人电话，最好是手机" type="tel" id="sendtel" name="sendtel">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">付款方式</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="" type="text" id="style" name="style">
            </div>
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="btn" style="width:100%; display:none;" >发货</a>
    </div>
</form>

@section script
{
    @*界面校验类*@
    <script type="text/javascript" src="~/lib/jquery.form/jquery.form.js"></script>
    <script type="text/javascript" src="~/js/Validate.js"></script>
    <script type="text/javascript">
        $("#varo").select({
            title: "货物名称",
            items: ["服装", "鞋", "布", "配件", "用品", "轮胎", "其他"]
        });
        $("#style").select({
            title: "付款方式",
            items: ["提付", "现付"]
        });
        //数值器增减函数
        var MAX = 99, MIN = 1;
        $('.weui-count__decrease').click(function (e) {
            var $input = $(e.currentTarget).parent().find('.weui-count__number');
            var number = parseInt($input.val() || "0") - 1
            if (number < MIN) number = MIN;
            $input.val(number)
        })
        $('.weui-count__increase').click(function (e) {
            var $input = $(e.currentTarget).parent().find('.weui-count__number');
            var number = parseInt($input.val() || "0") + 1
            if (number > MAX) number = MAX;
            $input.val(number)
        })
        
        //住界面
        $(function () {
            
            //为空校验设置
            var requireArr = [
                {
                    id: "rectel",
                    errmsg: "收货人电话号码不能为空！！！"
                },
                {
                    id: "recer",
                    errmsg: "收货人姓名不能为空！！！"
                },
                {
                    id: "varo",
                    errmsg: "货物名称不能为空！！！"
                },
                {
                    id: "city",
                    errmsg: "目的城市不能为空！！！"
                },
                {
                    id: "sender",
                    errmsg: "发货人姓名不能为空！！！"
                },
                {
                    id: "sendtel",
                    errmsg: "发货人电话不能为空！！！"
                }
            ];
            //字段长度校验
            var lengthArr = [
                {
                    id: "recer",
                    errmsg: "不能超过5个汉字"
                },
                {
                    id: "city",
                    errmsg: "不能超过5个汉字"
                },
                {
                    id: "sender",
                    errmsg: "不能超过5个汉字"
                }
            ];
            //收货电话信息查询
            $("#rectel").blur(function () {
                $.showLoading();
                $.getJSON("/Client/Yd/GetPhoneInfo", { id: $(this).val() }, function (json) {
                    if (parseInt(json.state)) {
                        $("#recer").val(json.收货人);
                        $("#city").val(json.到站城市);
                    }
                });
                $.hideLoading();
            });

            //发货按钮处理
            $(document).on("click", "#btn", function () {
                //校验为空部分
                $.each(requireArr, function (i, obj) {
                    Validate.require("#" + obj.id, obj.errmsg);
                });
                //校验长度
                $.each(lengthArr, function (i, obj) {
                    Validate.len("#" + obj.id, 5, obj.errmsg);
                });
                //校验电话格式
                Validate.phone("#rectel", "收货人电话号码格式错误！！！");
                Validate.phone("#sendtel", "发货人电话号码格式错误！！！");

                //提交数据
                $.showLoading();                    //显示加载图标
                //提交数据
                jQuery("#Yd-form").ajaxSubmit({
                    dataType: "json",
                    success: function (json) {
                        //关闭加载图标
                        $.hideLoading();
                        if (json.state === "1") {
                            //提交成功，显示提示
                            $.toptip('运单创建成功！', 'success');
                            //保存发货人信息
                            var old_sender = $("#sender").val();
                            var old_sendtel = $("#sendtel").val();
                            //初始化表单
                            jQuery("#Yd-form").resetForm();
                            //填写发货人信息
                            $("#sender").val(old_sender);
                            $("#sendtel").val(old_sendtel);
                        } else {
                            //显示错误信息
                            $.toptip('运单创建错误，请重试！', 'error')
                        }
                    },
                });
                return false; 
            })

            //解决表单控件不能回弹 只有微信ios有这个问题
            $("input,select,textarea").blur(function () {
                setTimeout(() => {
                    const scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0;
                    window.scrollTo(0, Math.max(scrollHeight - 1, 0));
                }, 100);
            })

        });
    </script>
}